<nav class="navbar navbar-aima navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img height="40" src="../../../assets/navbar.logo.png">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/cas-critiques']">Cas critiques</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/receveurs']">Receveurs</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/donneurs']">Donneurs</a></li>
        <button id="login" type="button" (click)="showLogin()" class="btn btn-default btn-aima">Se connecter</button>
        <button id="sign-up" type="button" (click)="showRegister()" class="btn btn-primary btn-aima">Créer un compte</button>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>